body {
    background-color: #9ea55f
}
#cuadro {
    margin: auto;

    width: 300px;
    height: 150px;

    border-width:3 px; 
    border-style: solid;
    border-color:black ;
    border-radius: 10px;

    background-color: #b1c77f;
   
    text-align: center;
    font-style: italic;
    color: black    ;
}



#cuadro1 {

   margin: auto;

    width: 300px;
    height: 150px;

    border-width:3 px; 
    border-style: solid;
    border-color:black ;
    border-radius: 10px;

    background-color: #b1c77f;
   
    text-align: center;
    font-style: italic;
    color: black    ;
}
h1 {
   
    text-align: center;
    font-style: italic;
    color: aliceblue;
} 
h3{
    text-align: center;
    font-style: italic;
    color: aliceblue;
}

#form {
    text-align: center;
}
